@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  position: relative;
  line-height: 1.8;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #3d2514;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.header-area {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
}
.header-area ul li a {
  color: #fff;
}
.header-area .btn {
  height: 59px;
  width: 152px;
  border: 1px solid #777F96;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.hero-area {
  background-image: url(../assets/img/cover-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.hero-area--1 {
  padding: 160px 0px 145px;
}
.hero-area--1 h1 {
  font-size: 62px;
  line-height: 78px;
  margin-bottom: 35px;
}
.hero-area--1 p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 55px;
}
.hero-area--1 .searchbox .col-md-5,
.hero-area--1 .searchbox .col-md-3,
.hero-area--1 .searchbox .col-md-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

#hero .select-2 .form-select {
  border: none;
  font-size: 1rem;
}
#hero .select-2 .form-select .form-select-lg {
  border: none;
  padding-left: none;
  font-size: 1rem;
}
#hero .select-2 .form-select .form-select-lg option {
  top: 30px;
}

#hero {
  overflow: hidden;
}

.searchbox {
  background-color: #fff;
  padding: 5px 40px 5px 40px;
  border-radius: 0.25rem;
}
.searchbox .form-control {
  font-size: 16px;
  line-height: 16px;
}

.searchbox [class*=col-] {
  padding: 0px;
}

.searchbox .col-md-5,
.searchbox .col-md-3,
.searchbox .col-md-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.searchbox .form-control {
  border-color: transparent;
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.searchbox select.form-control {
  border-right: solid 1px transparent;
}

.searchbox .form-control:focus {
  outline: 0;
}

.searchbox .btn {
  border-radius: 40px;
  padding: 20px 40px;
}

.btn-hero .btn {
  padding: 24px 50px;
}

.feature-cards {
  padding: 140px 0px 96px;
  background-color: #f8f8f8;
}
.feature-cards .feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin-bottom: 54px;
  font-size: 0rem;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 15px 35px hsla(0deg, 0%, 0%, 0.2);
}
.feature-cards .gap {
  gap: 40px 40px;
}
.feature-cards .feature {
  flex: 30%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
}
.feature-cards .pdn {
  padding: 101px 100px 81px;
}
.feature-cards h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  color: #1E2A39;
  padding-bottom: 3px;
}
.feature-cards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #5C6272;
  border-color: #707070;
  margin-bottom: 0px;
}
.feature-cards h5 {
  font-size: 24px;
  font-weight: 700;
  color: #1E2A39;
  line-height: 35px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
