@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    
    

    
    

}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
   /* .searchbox {
    width: 100%;
   } */

    
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
      .flip-box .feature {
        width: 600px;
        height: 300px;    
        object-fit: cover;
      }
      .feature-back-img img {
        width: 600px;   
        height: 300px;
        object-fit: cover;
      }
    
    /* .d-grid {
        flex-direction: column;
    } */
    
    .slick-prev {
        left: 512px;
    }
    
     .btn-create {
        display: flex;
        margin-top: 5%;
        margin-left: 40%;
    }
    .btn-create .btn {
        width: 100%;
    } 
    .single-team-item p {
       
        left: -39px;
    }
}
  
/*Medium small layout: 767px. */
@media only screen and (min-width: 767px) and (max-width: 992px) {
     .d-grid {
        flex-direction: column;
    }
    .btn-create {
        display: flex;
        margin-top: 7%;
        margin-left: 24%;
    } 
    .btn-create .btn {
        width: 100%;
    } 
    .btn-primary {
        width: 50% ;   
        margin-top: 50px;
    }

    .searchbox {
    width: 100%;
   }
   .flip-box .feature {
    width: 600px;
    height: 300px;    
    object-fit: cover;
  }
  .feature-back-img img {
    width: 600px;   
    height: 300px;
    object-fit: cover;
  }
  .single-team-item p {
    left: 0px;
}
    
.single-team-item p {
       
    left: -50px;
    }
.single-team-item p {
        left: -11px;
    }
    
    
}

 

 /* Wide Mobile Layout: 480px. */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
   
    .single-team-item p {
       
        left: -50px;
    }
 }

 
 /* Mobile Layout: 320px. */
 @media only screen and (max-width: 767px) {
    
    .d-grid {
        flex-direction: column;
    }

     .searchbox {
        width: 100%;
    }
    .btn-primary {
        width: 100% ;   
        margin-top: 50px;
    }
    .btn-hero {
        margin-top: 30px;
    } 
    .btn-create .btn {
        width: 100%;
        margin-top: 20px;
    } 
    .single-team-item p {
       
        left: -13px;
    }
    

}

    

   
 
